@import "../../../styles.scss";

.contact-card {
  border-radius: 8px;
  padding: 1rem;
  border-width: 2px;
  border-color: $pink;
  border-style: solid;
  overflow: hidden;
  width: 281px;

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    .info {
      margin: 0 0.5rem;
      text-align: center;
      color: $pink;
    }
  }

  img {
    height: 4rem;
    width: 4rem;
    object-fit: fill;
    border-radius: 50%;
  }
}

.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    height: 2rem;
    width: 2rem;
    object-fit: fill;
    border-radius: 50%;
    margin: 0 0.5rem;
  }
}

.bottom {
  display: flex;
  justify-content: space-around;
  color: $pink;

  .info {
    margin: 0 0.5rem;
    text-align: center;
  }
}
