@import "../../../styles.scss";

.contact-card {
  overflow: hidden;
  width: 281px;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: $border-radius;
  border: 1px solid $pink;
  transition: background-color 0.2s ease;
  transition: border 0.2s ease;
  margin: 0 auto;

  &:hover {
    background-color: lighten($color: $pink, $amount: 20);
    border: 1px solid $green;
  }

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    .info {
      margin: 0 0.5rem;
      text-align: center;
      color: $pink;
    }
  }

  img {
    height: 4rem;
    width: 4rem;
    object-fit: fill;
    border-radius: 50%;
  }
}

.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    height: 2rem;
    width: 2rem;
    object-fit: fill;
    border-radius: 50%;
    margin: 0 0.5rem;
  }
}

.bottom {
  display: flex;
  justify-content: space-around;
  color: $pink;

  .info {
    margin: 0 0.5rem;
    text-align: center;
  }
}
