@import "../../../styles.scss";

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @media screen and (max-width: $mobile-max-width) {
      flex-direction: column;
    }
  }

  .title {
    margin: 0 0 0 15rem;
    font-size: $title-font-size;
    font-weight: 600;
    color: $pink;

    @media screen and (max-width: $mobile-max-width) {
      text-align: center;
      margin: auto;
    }
  }

  .filter-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: $mobile-max-width) {
      margin-top: 1rem;
      flex-direction: column;
    }

    .filter {
      color: $green;
    }

    p {
      margin: 0;
      font-size: 0.875rem;
      color: #666;
    }

    select {
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: white;
      font-size: 0.875rem;
      cursor: pointer;
      outline: none;

      &:hover {
        border-color: #bbb;
      }

      &:focus {
        border-color: #666;
      }
    }
  }
}

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 90%;
  margin: auto;

  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
  }
}
