<header>
  <div class="container">
    <div></div>
    <h2 class="title">Discover Lovely People</h2>
    <div class="filter-container">
      <label class="filter" for="filter">Filter by:</label>
      <select
        [(ngModel)]="selectedFilter"
        (change)="onChangeTasksFilter(filter.value)"
        #filter
      >
        <option value="all">All</option>
        <option value="age">Age</option>
        <option value="location">Location</option>
        <option value="fame">Fame rating</option>
        <option value="interests">Interests</option>
      </select>
    </div>
  </div>
</header>
<div class="user-list">
  @if (potentialMatches()) {
    <!-- someValue | pipeName:argument1:argument2:argument3 -->
    @for (
      match of potentialMatches()
        | filterMatches: selectedFilter() : currentUser();
      track match.username
    ) {
      <app-user-item [user]="match"></app-user-item>
    }
  }
</div>
