<app-card>
  <div class="container">
    <div class="grid">
      @for (pic of userPictures; track $index) {
        <div>
          <img
            [src]="'/dummy-pics/' + pic"
            alt="{{ pic }}"
            [ngClass]="{
              'image-resize': true,
              'profile-picture': pic === profilePicture,
            }"
          />
        </div>
      }
    </div>
    <div class="btn-container">
      <button custom-button class="btn">Modify</button>
    </div>
  </div>
</app-card>
