@import "../../../../styles.scss";

.user-item {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: $border-radius;
  border: 1px solid $pink;
  transition: background-color 0.2s ease;
  transition: border 0.2s ease;
  max-width: 90%;
  margin: auto;

  &:hover {
    background-color: lighten($color: $pink, $amount: 20);
    border: 1px solid $green;
  }

  @media screen and (max-width: $mobile-max-width) {
    padding: 1rem;
  }

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

    .profile-pic {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      color: $green;

      @media screen and (max-width: $mobile-max-width) {
        width: 70px;
        height: 70px;
      }
    }

    .username {
      font-size: 30px;
      margin-left: 3rem;
      color: $pink;

      @media screen and (max-width: $mobile-max-width) {
        font-size: 20px;
        margin-left: 1rem;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;

    .info-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: $mobile-max-width) {
        justify-content: center;
      }

      p {
        font-size: 20px;
        margin: 0.3rem;
        color: $pink;
        @media screen and (max-width: $mobile-max-width) {
          font-size: 18px;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
