<div class="app-wrapper">
  <main class="main">
    <app-card>
      <form
        class="form"
        id="profile"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
      >
        <h1 class="title">Your Interests</h1>

        <div class="form-group">
          <label for="interests">Select Interests</label>
          <div class="checkbox-group">
            @for (tag of tagsList; track $index) {
            <div class="checkbox-item">
              <input
                type="checkbox"
                id="{{ tag }}"
                name="interests"
                [value]="tag"
                (change)="onTagChange($event)"
              />
              <label for="{{ tag }}">{{ tag }}</label>
            </div>
            }
          </div>
        </div>
        <div class="btn-wrapper">
          <button custom-button class="btn">Save</button>
          <button custom-button class="btn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </app-card>
  </main>
</div>
