@import "../../../styles.scss";

#profile {
  width: 400px;
  margin: 0 auto;

  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 2.5rem;

    .checkbox-item {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        margin-top: 8px;
        margin-right: 5px;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin: 3rem auto 1rem auto;
  }
}
