@import "../../../styles.scss";

dialog {
  min-width: 30rem;
  padding: 0;
  z-index: 2;
  background: #d5c7bc;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid $invalid-red;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
