@import "../../../../styles.scss";

.chat-container {
  .messages {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 2rem;
    max-width: 100%;
    word-wrap: break-word;
    padding: 5px;

    .message {
      background-color: $pink;
      color: $black;
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      max-width: 355px;
      word-wrap: break-word;

      @media screen and (max-width: $mobile-max-width) {
        max-width: 300px;
      }
    }

    .myText {
      background-color: $violet;
      color: $white;
      align-self: flex-end;
    }

    .otherText {
      background-color: $pink;
      color: $white;
      align-self: flex-start;
    }
  }
}
