<app-card>
  <div class="container">
    <div class="detail-group">
      <span class="list-title">Email:</span
      ><span class="list-detail">{{ Email }}</span>
    </div>
    <div class="detail-group">
      <span class="list-title">Verified:</span
      ><img class="icon-img" src="{{ icon }}" alt="My Profile" />
    </div>
    <div class="detail-group">
      <span class="list-title">Password:</span
      ><span class="list-detail">{{ "••••••••" }}</span>
    </div>
    <div class="btn-container">
      <button custom-button class="btn" (click)="goToModifyEmail()">
        Modify
      </button>
      <button custom-button class="btn long-btn" (click)="goToDeleteAccount()">
        Delete Account
      </button>
      @if (!isEmailVerified()) {
        <button custom-button class="btn long-btn" (click)="goToVerifyEmail()">
          Verify Email
        </button>
      }
    </div>
  </div>
</app-card>
