.container {
  display: flex;
  justify-content: left;
  flex-direction: column;

  .list-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
  }

  .detail-group {
    display: inline;
    margin: 0.5rem;
  }

  .btn-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-img {
    width: 15px;
    height: 15px;
    margin-left: 3rem;
  }
}
