@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;

  .list-title {
    font-size: $subtitle-font-size;
    margin-right: 1rem;
    color: $green;
  }

  .list-detail {
    font-size: 18px;
    color: $pink;
  }

  .detail-group {
    display: inline;
  }

  .btn-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .long-btn {
      width: 11rem;
    }
  }
  .icon-img {
    width: 20px;
    height: 20px;
    margin-left: 3rem;
  }
}
