@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;

  .list-title {
    font-size: $subtitle-font-size;
    margin-right: 1rem;
    color: $green;
  }

  .list-detail {
    font-size: 18px;
    color: $pink;
  }

  .detail-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .btn-container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $mobile-max-width) {
      flex-direction: column;
      height: 8rem;
      justify-content: space-between;
    }

    .long-btn {
      width: 9rem;
    }
  }
  .icon-img {
    width: 25px;
    height: 25px;
    align-items: center;
  }
}
