@import "../../styles.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f8f9fa;

  .error-title {
    font-size: 4rem;
    font-weight: 700;
    color: $pink;
  }

  .error-message {
    font-size: 1.5rem;
    font-weight: 500;
    color: $pink;
  }
}
