@import "../../../../styles.scss";

.container {
  display: grid;
  min-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: repeat(2, 1fr);
  }
  .image {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
  }
}
