@import "../../../../styles.scss";

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;

  .list-title {
    font-size: $title-font-size;
    margin-right: 1rem;
    color: $pink;
  }

  .list-detail {
    font-size: 18px;
  }

  .detail-group {
    display: inline;
    @media screen and (max-width: $mobile-max-width) {
      margin: 0.5rem 0.5rem 0 0.5rem;
    }
  }
}
