@import "../../../../styles.scss";

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2rem;

  @media screen and (max-width: $mobile-max-width) {
    flex-direction: column;
    margin: 0;
  }

  .left {
    width: 50%;
    @media screen and (max-width: $mobile-max-width) {
      width: 100%;
    }
  }

  .right {
    width: 50%;
    @media screen and (max-width: $mobile-max-width) {
      width: 100%;
    }
  }

  .list-title {
    font-size: $title-font-size;
    margin-right: 1rem;
    color: $green;
  }

  .list-detail {
    font-size: $subtitle-font-size;
    color: $pink;
  }

  .detail-group {
    display: inline;
    @media screen and (max-width: $mobile-max-width) {
      margin: 0.5rem 0.5rem 0 0.5rem;
    }
  }
}
