@import "../../../styles.scss";

.card {
  display: inline-block;
  background-color: $green;
  border-radius: 8px;
  padding: 3rem;
  border-width: 2px;
  border-color: $pink;
  border-style: solid;
}
