@import "../../../styles.scss";

.card {
  border-radius: 8px;
  padding: 2rem;
  border-width: 2px;
  border-color: $pink;
  border-style: solid;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $mobile-max-width) {
    width: 85%;
    padding: 1rem;
  }
}
