<div class="backdrop">
  <dialog open>
    <form class="form" id="profile" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <h1 class="title">Modify Profile Details</h1>

      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="register"
          required
          [(ngModel)]="firstName"
          minlength="2"
          maxlength="15"
          #firstname="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          class="register"
          required
          [(ngModel)]="lastName"
          minlength="2"
          maxlength="15"
          #lastname="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          id="gender"
          name="gender"
          required
          [(ngModel)]="selectedGender"
          class="register"
        >
          <option value="" disabled selected>Select your gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preferences">Sexual Preferences</label>
        <select
          id="preferences"
          name="preferences"
          required
          [(ngModel)]="sexualPreference"
          class="register"
        >
          <option value="" disabled selected>Select your preference</option>
          <option value="heterosexual">Heterosexual</option>
          <option value="homosexual">Homosexual</option>
          <option value="bisexual">Bisexual</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bio">Biography</label>
        <textarea
          id="bio"
          name="bio"
          rows="4"
          required
          [(ngModel)]="bio"
          class="register"
          minlength="2"
        ></textarea>
      </div>

      <div class="btn-wrapper">
        <button custom-button class="btn">Save</button>
        <button custom-button class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </dialog>
</div>
