<div class="app-wrapper">
  <app-card>
    <form class="form" id="profile" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <h1 class="title">Profile Details</h1>

      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="register"
          required
          [(ngModel)]="firstName"
          minlength="2"
          maxlength="15"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          class="register"
          required
          [(ngModel)]="lastName"
          minlength="2"
          maxlength="15"
        />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          id="age"
          name="age"
          class="register"
          required
          [(ngModel)]="age"
          min="18"
          max="120"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          id="gender"
          name="gender"
          required
          [(ngModel)]="selectedGender"
          class="register"
        >
          <option value="" disabled selected>Select your gender</option>
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preferences">Sexual Preferences</label>
        <select
          id="preferences"
          name="preferences"
          required
          [(ngModel)]="sexualPreference"
          class="register"
        >
          <option value="" disabled selected>Select your preference</option>
          <option value="e">Heterosexual</option>
          <option value="o">Homosexual</option>
          <option value="b">Bisexual</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bio">Biography</label>
        <textarea
          id="bio"
          name="bio"
          rows="4"
          required
          [(ngModel)]="bio"
          class="register"
          minlength="2"
        ></textarea>
      </div>

      <div class="btn-wrapper">
        <button custom-button class="btn">Save</button>
        <button type="button" custom-button class="btn" (click)="goBack()">
          Cancel
        </button>
      </div>
    </form>
  </app-card>
</div>
