<div class="notifs-container">
  @for (notif of notificationList(); track notif.id) {
    <div class="message-card">
      <div class="top">
        <div class="date">
          <p>{{ notif.date }}</p>
        </div>
        <div class="delete" (click)="onDeleteNotificationHandler(notif.id)">
          X
        </div>
      </div>
      <div class="title">
        <p>{{ notif.title }}</p>
      </div>
      <div class="content">
        <p>{{ notif.content }}</p>
      </div>
    </div>
  }
</div>
