@import "../../styles.scss";

.inside-card {
  min-width: 375px;

  .title {
    text-align: center;
    color: $pink;
    margin-bottom: 3rem;

    @media screen and (max-width: $mobile-max-width) {
      text-align: left;
      margin-left: 20%;
    }
  }
}

.contact-list {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
  }
}
