@import "../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  .title {
    text-align: center;
    color: $pink;
    margin-bottom: 3rem;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    min-width: 375px;

    @media screen and (max-width: $mobile-max-width) {
      grid-template-columns: 1fr;
    }
  }
}
