<div class="app-wrapper">
  <app-card>
    <form class="form" id="profile" #form1="ngForm">
      <h2 class="title">Email or Password</h2>

      <app-card>
        <div class="form-group">
          <label for="email">Enter new Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="register"
            required
            email
            [(ngModel)]="uEmail"
            #email="ngModel"
          />
        </div>
        <div class="btn-wrapper">
          <button
            type="button"
            custom-button
            class="btn"
            (click)="onSubmitEmail(form1)"
          >
            Save
          </button>
        </div>
      </app-card>
    </form>

    <form class="form" id="profile" #form2="ngForm">
      <app-card>
        <div class="form-group">
          <label for="current-password">Enter you current password</label>
          <input
            type="password"
            id="curPassword"
            name="curPassword"
            class="no-validation"
            required
            ngModel
            #curPassword="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="password">
            Enter new password
            <span class="tooltip-icon">?</span>
            <div class="tooltip-content">
              Password must be:
              <ul>
                <li>At least 8 characters long</li>
                <li>Contain at least one uppercase letter</li>
                <li>Contain at least one lowercase letter</li>
                <li>Contain at least one number</li>
                <li>Contain at least one non-alpha numeric</li>
              </ul>
            </div>
          </label>
          <input
            type="password"
            id="nPassword"
            name="newPassword"
            class="register"
            ngModel
            required
            pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s])([^\s]){8,15}$"
            #nPassword="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="password-repetition">Repeat your new password</label>
          <input
            type="password"
            id="passwordRepetition"
            name="passwordRepetition"
            class="register"
            required
            ngModel
            appPasswordConfirm="newPassword"
            #password2="ngModel"
          />
        </div>
        <div class="btn-wrapper">
          <button
            type="button"
            custom-button
            class="btn"
            (click)="onSubmitPassword(form2)"
          >
            Save
          </button>
        </div>
      </app-card>

      <div class="btn-wrapper">
        <button type="button" custom-button class="btn" (click)="goBack()">
          Cancel
        </button>
      </div>
    </form>
  </app-card>
</div>
