<footer class="footer">
  <div class="app-wrapper">
    <div class="inside-wrapper">
      <div class="creators">
        <p>
          Made by
          <a
            href="https://github.com/t-h2o"
            target="_blank"
            rel="noopener noreferrer"
            >Théo</a
          >
          &
          <a
            href="https://github.com/RobinBurri"
            target="_blank"
            rel="noopener noreferrer"
            >Robin</a
          >.
        </p>
      </div>
      <div class="slogan">
        <p>Spreading love around the globe.</p>
      </div>
    </div>
  </div>
</footer>
