@import "../../../styles.scss";

.footer {
  text-align: center;
  padding: 20px;
  background-color: $green;
  font-size: 14px;
  color: $black;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $white;
  margin-top: 2rem;
}

.inside-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: space-around;

  .creators {
    margin-right: 2rem;

    a {
      color: $pink;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: lighten($color: $pink, $amount: 15);
      }
    }
  }
  .slogan {
    margin-left: 2rem;
  }
}
