<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h1 class="form-title">Register</h1>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input
      type="text"
      id="firstname"
      name="firstname"
      required
      ngModel
      minlength="2"
      maxlength="15"
      #firstname="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      required
      ngModel
      minlength="2"
      maxlength="15"
      #lastname="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      ngModel
      minlength="6"
      maxlength="15"
      #username="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="username">email</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      required
      email
      #email="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      required
      pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,15}$"
      #password="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="password-repetition">Repeate your Password</label>
    <input
      type="password"
      id="password-repetition"
      name="password-repetition"
      required
      ngModel
      appPasswordConfirm="password"
      #password2="ngModel"
    />
  </div>
  <button custom-button class="btn">Register</button>
  <p>Do you already have an account?</p>
  <a routerLink="/login">Login</a>
</form>


<!-- password must contain 1 number (0-9)
password must contain 1 uppercase letters
password must contain 1 lowercase letters
password must contain 1 non-alpha numeric number
password is 8-16 characters with no space -->