<app-card class="unique">
  <div class="container">
    <p class="list-title">Interests</p>
    <div class="group">
      @if (interestList().length > 0) {
        <div class="box-grid">
          @for (interest of interestList(); track $index) {
            <div class="box-item">
              <p>{{ interest }}</p>
            </div>
          }
        </div>
      } @else {
        <p><span class="text">No Interests chosen yet.</span></p>
      }
    </div>

    <div class="btn-container">
      <button custom-button class="btn" (click)="goToModifyInterests()">
        Modify
      </button>
    </div>
  </div>
</app-card>
