@import "../../../styles.scss";

.unique {
  padding: 0;
}

.container {
  min-width: 375px;

  .group {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .box-item {
    min-width: 153px;
    padding: 0.5rem;
    border-radius: $border-radius;
    border: 1px solid $pink;

    p {
      text-align: center;
      font-weight: bold;
      color: $pink;
    }
  }
}

.list-title {
  font-size: $title-font-size;
  margin: 0 auto 2rem auto;

  text-align: center;
  color: $green;
  @media screen and (max-width: $mobile-max-width) {
    text-align: left;
    padding-left: 6rem;
  }
}

.text {
  display: inline-block;
  width: 100%;
  margin: auto;
  color: $green;
  text-align: center;
  @media screen and (max-width: $mobile-max-width) {
    display: inline;
  }
}

.btn-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $mobile-max-width) {
    justify-content: left;
    padding-left: 6rem;
  }
}
