<div class="app-wrapper">
  @if (isFake()) {
    <div class="alert">
      <p>You have reported this profile as Fake</p>
    </div>
  }
  <div class="username-group">
    <div class="name">
      <h2 class="title">
        {{ username() }}
        <span class="status-dot" [class.online]="isOnline()"></span>
      </h2>
    </div>
    <div class="connection">
      @if (!isOnline()) {
        <p class="connection-text">Last connection: {{ lastConnection() }}</p>
      }
    </div>
  </div>

  <div class="stars-group">
    <div class="heart tooltip" (click)="toggleLike()">
      <img src="{{ heartIcon }}" alt="Heart" />
      <span class="tooltip-text">Like or unlike the profile</span>
    </div>
    <div [innerHTML]="FameRatingStars"></div>
  </div>
  <app-pictures></app-pictures>
  <app-general></app-general>
  <app-match-interests></app-match-interests>
  <app-block-fake [username]="username()" [isFake]="isFake()"></app-block-fake>
</div>
