@import "../../../styles.scss";

.stars-group {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: $pink;
    margin-bottom: 2rem;
  }

  .heart,
  .fake {
    cursor: pointer;
  }
}
