@import "../../../styles.scss";

.title {
  font-size: 2em;
  font-weight: bold;
  color: $pink;
  margin-bottom: 2rem;
  text-align: center;
}

.status-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
  margin-left: 1.5rem;
}

.online {
  background-color: green;
}

.stars-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;

  .heart,
  .fake {
    cursor: pointer;
  }
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-bottom: 8px;

  opacity: 0;
  transition: all 0.2s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
