<div class="navbar">
  <div class="app-wrapper">
    <div class="inside-wrapper">
      <div class="logo-container">
        <h1 class="logo">MATCHA</h1>
      </div>
      <div class="links-container">
        <a routerLink="/matches" routerLinkActive="active">Search</a>
        <a routerLink="/profile" routerLinkActive="active">
          <img
            src="icons/account-icon.svg"
            alt="My Profile"
            class="account-icon"
        /></a>
        <a routerLink="/logout" routerLinkActive="active"
          ><img src="icons/logout-icon.svg" alt="Logout" class="logout-icon"
        /></a>
      </div>
    </div>
  </div>
</div>
