@import "../../styles.scss";

.footer {
  text-align: center;
  padding: 20px;
  background-color: $green;
  font-size: 14px;
  color: $pink;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $white;
  margin-top: 3rem;
}

.inside-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: space-around;

  .creators {
    margin-right: 2rem;

    a {
      color: $pink;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: lighten($color: $pink, $amount: 15);
      }
    }
  }
  .slogan {
    margin-left: 2rem;
  }
}

.heart {
  font-size: 2em;
  position: relative;
  color: $pink;

  .heartbeat {
    position: relative;
    z-index: 1;
    animation: beat 2s linear infinite;
  }

  .heartecho {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: echo 2s linear infinite;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn);
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0);
  }
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
