<app-card>
  <div class="container">
    <div class="detail-group">
      <p>
        <span class="list-title">First Name:</span>{{ userProfile.firstName }}
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Last Name:</span
        >{{ userProfile.lastName | uppercase }}
      </p>
    </div>
    <div class="detail-group">
      <p><span class="list-title">Gender:</span>{{ gender }}</p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Sexual Preferences:</span
        >{{ sexualPreference }}
      </p>
    </div>
    <div class="detail-group">
      <p><span class="list-title">Bio:</span>{{ userProfile.bio }}</p>
    </div>
    <div class="btn-container">
      <button custom-button class="btn" (click)="onClickModify()">
        Modify
      </button>
    </div>
  </div>
</app-card>
