<app-card>
  <div class="container">
    <div class="stars-group">
      <p class="list-title">Your Fame Rating:</p>
      <div [innerHTML]="FameRatingStars"></div>
    </div>

    <div class="detail-group">
      <p>
        <span class="list-title">First name:</span
        ><span class="list-detail">{{
          userProfile().firstname | titlecase
        }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Last name:</span
        ><span class="list-detail"></span
        ><span class="list-detail">{{
          userProfile().lastname | titlecase
        }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Age:</span
        ><span class="list-detail">{{ age }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Gender:</span
        ><span class="list-detail">{{ gender }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Sexual preferences:</span
        ><span class="list-detail">{{ sexualPreference }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">GPS Position:</span>
      </p>
      <p>
        <span class="list-subtitle">Lat:</span>
        <span class="list-detail">{{ lat }} </span>
        <span class="list-subtitle"> Long:</span>
        <span class="list-detail">{{ long }}</span>
      </p>
    </div>
    <div class="detail-group">
      <p>
        <span class="list-title">Bio:</span
        ><span class="list-detail">{{ bio }}</span>
      </p>
    </div>
    <div class="btn-container">
      <button custom-button class="btn-position" (click)="geoLocation()">
        Auto Position
      </button>
      <button custom-button class="btn" (click)="goToModifyingGeneral()">
        Modify
      </button>
    </div>
  </div>
</app-card>
