@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;

  .list-title {
    font-size: $subtitle-font-size;
    margin-right: 1rem;
    color: $green;
  }

  .list-subtitle {
    font-size: $subtitle-font-size;
    color: $green;
    margin-right: 0.5rem;
  }

  .list-detail {
    font-size: $subtitle-font-size;
    color: $pink;
  }

  .detail-group {
    word-break: break-word;
    overflow-wrap: break-word;
    @media screen and (max-width: $mobile-max-width) {
      margin: 0.5rem 0.5rem 0 0.5rem;
    }
  }

  .btn-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .btn-position {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stars-group {
    display: flex;
    align-items: center;
  }
}
