@import "../../../styles.scss";

.unique {
  padding: 0;
}

.rating-item-p {
  font-size: $title-font-size;
  color: $green;
  text-align: center;
  @media screen and (max-width: $mobile-max-width) {
    text-align: left;
    padding-left: 6rem;
  }
}

.container {
  min-width: 375px;

  .group {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .box-item {
    min-width: 153px;
    padding: 0.5rem;
    border-radius: $border-radius;
    border: 1px solid $pink;
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: border 0.2s ease;

    &:hover {
      background-color: lighten($color: $pink, $amount: 20);
      border: 1px solid $green;
    }

    p {
      text-align: center;
      font-weight: bold;
      color: $pink;
    }
  }
}
