<app-card>
  <div class="container">
    <h1 class="title">Rating</h1>
    <div class="rating-item">
      <p class="rating-item-p">Your Fame Rating</p>
      <div [innerHTML]="FameRatingStars"></div>
    </div>

    <div class="container">
      <p class="rating-item-p">Person who liked you</p>
      <div class="person-grid">
        <div class="person-list">
          @for (person of personWhoLikedYou; track person.username) {
            <div class="person-item">
              <p>{{ person.username }}</p>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="container">
      <p class="rating-item-p">Person who visited your profile</p>
      <div class="person-grid">
        <div class="person-list">
          @for (person of personWhoVisitedYou; track person.username) {
            <div class="person-item">
              <p>{{ person.username }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</app-card>
