<app-card class="unique">
  <div class="container">
    <p class="rating-item-p">Liked by</p>
    <div class="group">
      @if (likeByList().length === 0) {
        <p class="no-one">No one has liked you so far 🥲</p>
      } @else {
        <div class="box-grid">
          @for (name of likeByList(); track name) {
            <div class="box-item" (click)="onClickHandler(name)">
              <p>{{ name }}</p>
            </div>
          }
        </div>
      }
    </div>

    <p class="rating-item-p">Visited by</p>
    <div class="group">
      @if (visitedByList().length === 0) {
        <p class="no-one">No one has visited your profile yet so far.</p>
      } @else {
        <div class="box-grid">
          @for (username of visitedByList(); track username) {
            <div class="box-item" (click)="onClickHandler(username)">
              <p>{{ username }}</p>
            </div>
          }
        </div>
      }
    </div>
  </div>
</app-card>
