<header>
  <div class="container">
    <div></div>
    <h2>Discover Lovely People</h2>
    <div class="filter-container">
      <select (change)="onChangeTasksFilter(filter.value)" #filter>
        <option value="all">All</option>
        <option value="age">Age</option>
        <option value="location">Location</option>
        <option value="fame">Fame rating</option>
        <option value="interests">Interests</option>
      </select>
    </div>
  </div>
</header>
<div class="user-list">
  @for (user of users; track user.username) {
    <app-user-item [user]="user"></app-user-item>
  }
</div>
