@import "../../../../styles.scss";

.block-fake-header {
  margin-top: 3rem;
  .title {
    font-size: $title-font-size;
    font-weight: bold;
    margin-bottom: 10px;
    color: $green;
    text-align: center;
  }
}

.block-fake {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;

  .fake img {
    align-items: center;
    margin-left: 6rem;
    margin-top: 1rem;
  }
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-bottom: 8px;

  opacity: 0;
  transition: all 0.2s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 3rem;
  border-width: 5px;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
