@import "../../styles.scss";

.alert {
  background-color: $invalid-red;
  padding: 1rem;
  color: $white;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.8rem auto;
  max-width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $mobile-max-width) {
    max-width: 90%;
    margin: auto;
  }
}

.profile-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 969px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    @media screen and (max-width: $mobile-max-width) {
      padding: 0 1rem;
    }
  }
}
