@import "../../styles.scss";

.profile-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
  }

  .left {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    @media screen and (max-width: $mobile-max-width) {
      padding: 0 1rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    @media screen and (max-width: $mobile-max-width) {
      padding: 0 1rem;
    }
  }
}
