<div class="app-wrapper">
  @if (isModifyingInterests()) {
    <main class="main">
      <app-modify-interests
        [onCancel]="toggleIModifyInterests"
      ></app-modify-interests>
    </main>
  }
  @if (isModifyingEmail()) {
    <main class="main">
      <app-modify-email [onCancel]="toggleIModifyEmail"></app-modify-email>
    </main>
  }
  @if (isModifyingPictures()) {
    <main class="main">
      <app-modify-pictures
        [onCancel]="toggleIModifyPictures"
      ></app-modify-pictures>
    </main>
  } @else {
    <main class="profile-container">
      <div class="column">
        <app-general-profile
          [onModify]="toggleIsModifyingGeneral"
        ></app-general-profile>
        <app-interests [onModify]="toggleIModifyInterests"></app-interests>
      </div>
      <div class="column">
        <app-pictures-profile
          [onModify]="toggleIModifyPictures"
        ></app-pictures-profile>
        <app-email-passwd [onModify]="toggleIModifyEmail"></app-email-passwd>
      </div>
    </main>
  }
</div>
