@import "../../../styles.scss";

.app-wrapper {
  height: 80vh;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  flex: 1;
  position: relative;
  max-height: 60vh;
  min-width: 370px;
  border: 1px solid $pink;
  border-radius: 10px;
  padding: 0 1rem 1rem 1rem;
  overflow-y: auto;

  .messages-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
    scroll-behavior: smooth;
  }
}

.header {
  position: sticky;
  text-align: center;
  color: $white;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 370px;

  input {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: $black;
    color: $white;
    border: 1px solid $pink;
    &:focus {
      outline: none;
    }
  }

  .btn {
    width: 100%;
    color: $white;
  }
}
