<div class="app-wrapper">
  <main class="main">
    <div class="header">
      <h2>{{ username() }}</h2>
    </div>
    <div class="container">
      <div #messagesContainer class="messages-container">
        <app-display-messages [messages]="messages"></app-display-messages>
      </div>
    </div>
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="messageText"
        placeholder="Type a message..."
        (keydown.enter)="sendMessage()"
      />
      <button custom-button class="btn" (click)="sendMessage()">Send</button>
    </div>
  </main>
</div>
