<div class="navbar">
  <div class="app-wrapper">
    <div class="inside-wrapper">
      <div class="logo-container">
        <a routerLink="/" routerLinkActive="active" class="logo-link">
          <h1 class="logo">MATCHA</h1>
        </a>
      </div>
      <div class="links-container">
        @if (!authService.tokenSignal()) {
          @if (!isLoginRoute()) {
            <a routerLink="/login" routerLinkActive="active">Login</a>
          }
          @if (!isRegisterRoute()) {
            <a routerLink="/register" routerLinkActive="active">Register</a>
          }
        }
        @if (authService.tokenSignal()) {
          <a routerLink="/browsing" routerLinkActive="active">Search</a>
          <a routerLink="/profile" routerLinkActive="active">
            <img
              src="icons/account-icon.svg"
              alt="My Profile"
              class="account-icon"
          /></a>
          <a routerLink="/login" routerLinkActive="active" (click)="onLogout()"
            ><img src="icons/logout-icon.svg" alt="Logout" class="logout-icon"
          /></a>
        }
      </div>
    </div>
  </div>
</div>
