<div class="navbar">
  <div class="app-wrapper">
    <div class="inside-wrapper">
      <div class="logo-container">
        <a routerLink="/" routerLinkActive="active" class="logo-link">
          <h1 class="logo">MATCHA</h1>
        </a>
      </div>
      <div class="links-container">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/register-profile" routerLinkActive="active"
          >profileFillUp</a
        >
        <a routerLink="/browsing" routerLinkActive="active">Search</a>
        <a routerLink="/profile" routerLinkActive="active">
          <img
            src="icons/account-icon.svg"
            alt="My Profile"
            class="account-icon"
        /></a>
        <a routerLink="/login" routerLinkActive="active"
          ><img src="icons/logout-icon.svg" alt="Logout" class="logout-icon"
        /></a>
      </div>
    </div>
  </div>
</div>
