<div class="navbar">
  <div class="app-wrapper">
    <div class="inside-wrapper">
      <div class="logo-container">
        <div routerLink="/" class="logo-link">
          <h1 class="logo">MATCHA</h1>
        </div>
      </div>
      <div class="links-container">
        @if (!token) {
          @if (!isLoginRoute()) {
            <a routerLink="/login" routerLinkActive="active">Login</a>
          }
          @if (!isRegisterRoute()) {
            <a routerLink="/register" routerLinkActive="active">Register</a>
          }
        }
        @if (token) {
          <a routerLink="/profile" routerLinkActive="active">
            <img src="icons/account-icon.svg" alt="My Profile"
          /></a>
          @if (profileCompleted()) {
            <a routerLink="/search" routerLinkActive="active"
              ><img src="icons/search.svg" alt="Search Matches"
            /></a>
            <a routerLink="/chat" routerLinkActive="active"
              ><img src="icons/chat-with-msg.svg" alt="chat"
            /></a>

            <a routerLink="/notifications" routerLinkActive="active"
              ><img src="icons/notifications.svg" alt="notifications"
            /></a>
          }
          <a routerLink="/login" routerLinkActive="active" (click)="onLogout()"
            ><img src="icons/logout-icon.svg" alt="Logout"
          /></a>
        }
      </div>
    </div>
  </div>
</div>
