@import "../../../styles.scss";

.title {
  text-align: center;
  margin: 2rem 0;
  color: $pink;
}

.modifyPic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;

  .drag-drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 80%;
    border: 2px dashed $pink;
    border-radius: 8px;
    margin: 1rem auto;
    padding-top: 1rem;
    cursor: pointer;

    @media screen and (max-width: $mobile-max-width) {
      visibility: collapse;
    }

    .drop-icon {
      justify-self: center;
      align-self: center;
      margin: auto;
      font-size: 2rem;
    }

    &.dragging {
      cursor: copy;
    }

    .drop-text {
      color: $green;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .btn {
      margin: 3rem auto 1rem auto;
    }
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 1rem auto;
  }

  .text {
    color: $green;
    text-align: center;

    @media screen and (max-width: $mobile-max-width) {
      visibility: collapse;
    }
  }
}
