<div class="app-wrapper">
  <h3 class="title">Manage Pictures</h3>
  <form class="modifyPic" id="modfiyPic" #form="ngForm">
    <div
      class="drag-drop-area"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <div class="drop-text">
        <p>Drag & Drop Files Here</p>
      </div>
      <div class="drop-icon">
        <img src="icons/drop-item-icon.svg" alt="Drop Icon" />
      </div>
    </div>
    <p class="file-upload-option">or select picture from files</p>
    <div class="form-group">
      <label for="pictures" class="custom-file-upload"> Upload Pictures </label>
      <input
        type="file"
        id="pictures"
        accept="image/*"
        multiple
        (change)="onFileChange($event)"
        style="display: none"
      />

      @if (selectedPictures.length > 0) {
        <div class="text">
          <p>Selected Files:</p>
          <ul>
            @for (file of selectedPictures; track $index) {
              <app-picture-preview [file]="file" (remove)="removeFile(file)" />
            }
          </ul>
        </div>
      }
    </div>

    <div class="btn-wrapper">
      <button custom-button class="btn" (click)="onSubmit()">Save</button>
      <button type="button" custom-button class="btn" (click)="goBack()">
        Cancel
      </button>
    </div>
  </form>
</div>
